/*
Author: Miguel Angarita;
Version: 0.1.2;
Theme: Ang Simple Blog

*/
.navbar {
  border: 2px solid;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem; }

.cont {
  border: 2px solid; }

.navicon {
  vertical-align: middle; }

nav .navbar-nav .nav-item {
  padding-right: 15px;
  padding-left: 15px; }
  nav .navbar-nav .nav-item a {
    color: #fff !important; }
  nav .navbar-nav .nav-item .active, nav .navbar-nav .nav-item a:hover {
    color: #fd7e14 !important; }
  nav .navbar-nav .nav-item .active {
    border-bottom: 1px solid #fd7e14; }

.jumbotron .social .icon-instagram .fa-stack-1x, .jumbotron .social .icon-youtube .fa-stack-1x {
  font-size: 2rem; }

.brd {
  border: 1px solid white; }

.brd-black {
  border: 1px solid black; }

.card a {
  text-decoration: none; }

.card .post-title-border {
  border-bottom: 1px solid;
  padding: 0 10px 10px 10px;
  border-color: #186578; }

.pagination .active .page-link {
  background-color: #186578 !important; }

.pagination .page-link {
  color: #186578; }

.pagination .page-link:hover {
  font-weight: bold; }

.sidebar {
  margin-bottom: 10px; }
  .sidebar .list-group-item, .sidebar .card {
    background-color: transparent !important;
    border: 0; }
  .sidebar .list-group-item {
    color: white !important;
    border-bottom: 1px dotted white; }
  .sidebar .list-group-item:hover {
    background-color: white !important;
    color: #186578 !important;
    font-weight: bold; }

footer a {
  color: white !important; }

.fa-bars {
  color: #186578 !important;
  font-size: 2rem;
  vertical-align: middle; }
  .fa-bars:hover, .fa-bars:focus {
    color: #fd7e14 !important; }

.socials {
  font-size: 0.9rem; }
  .socials a {
    text-decoration: none;
    padding: 0px !important; }

.icon-facebook {
  color: #3b5998; }
  .icon-facebook .fa-stack-1x {
    color: white; }
  .icon-facebook:hover {
    color: #fff; }
    .icon-facebook:hover .fa-stack-1x {
      color: #3b5998; }

.icon-twitter {
  color: #00aced; }
  .icon-twitter .fa-stack-1x {
    color: white; }
  .icon-twitter:hover {
    color: #fff; }
    .icon-twitter:hover .fa-stack-1x {
      color: #00aced; }

.icon-youtube {
  color: white; }
  .icon-youtube .fa-stack-1x {
    color: red; }
  .icon-youtube:hover {
    color: red; }
    .icon-youtube:hover .fa-stack-1x {
      color: #fff; }

.icon-instagram {
  color: #fff; }
  .icon-instagram .fa-stack-1x {
    color: #000; }
  .icon-instagram:hover {
    color: #000; }
    .icon-instagram:hover .fa-stack-1x {
      color: #fff; }

.icon-googleplus {
  color: #f00; }
  .icon-googleplus .fa-stack-1x {
    color: #Fff; }
  .icon-googleplus:hover {
    color: #fff; }
    .icon-googleplus:hover .fa-stack-1x {
      color: #f00; }

.icon-reddit {
  color: #F50; }
  .icon-reddit .fa-stack-1x {
    color: #Fff; }
  .icon-reddit:hover {
    color: #fff; }
    .icon-reddit:hover .fa-stack-1x {
      color: #f50; }

.icon-linkedin {
  color: #05F; }
  .icon-linkedin .fa-stack-1x {
    color: #Fff; }
  .icon-linkedin:hover {
    color: #fff; }
    .icon-linkedin:hover .fa-stack-1x {
      color: #05F; }

.icon-mail {
  color: #000; }
  .icon-mail .fa-stack-1x {
    color: #Fff; }
  .icon-mail:hover {
    color: #fff; }
    .icon-mail:hover .fa-stack-1x {
      color: #000; }

.comments {
  border-right: 0;
  border-left: 0;
  border-top: 0; }

#commentBox .btn-primary {
  background: #186578 !important; }
  #commentBox .btn-primary:hover, #commentBox .btn-primary:focus {
    background: gray !important; }

#commentBox input:focus, #commentBox textarea:focus {
  border-color: #186578; }

@media screen and (max-width: 991px) {
  body {
    font-size: 0.8rem; }
  .socials {
    font-size: 0.7rem; }
  .container {
    width: 100%;
    max-width: none; } }
