$green:   #186578 !default;
$orange: #fd7e14 !default;
$hover-color:  $orange;
$white: #fff;
$border: 2px solid;
/*
Author: Miguel Angarita;
Version: 0.1.2;
Theme: Ang Simple Blog

*/
.navbar{
	border:$border;
	border-top-left-radius:0.5rem;
	border-top-right-radius:0.5rem;
}
.cont{
	border: $border;
}

.navicon{
	vertical-align: middle;
}

nav{
	
	.navbar-nav{

		.nav-item{
			padding-right: 15px;
			padding-left: 15px;

			a{
				color: $white !important;
			}

			.active, a:hover
			{
				color: $hover-color !important;
				
			}

			.active{
				border-bottom: 1px solid $orange;
			}			
		
		}
	}
}

.jumbotron{
	.social{
		.icon-instagram .fa-stack-1x, .icon-youtube .fa-stack-1x{
			font-size: 2rem;
		}

	}

}

.brd{
	border: 1px solid white;
}

.brd-black{
	border: 1px solid black;
}

.card{
	a{
		text-decoration: none;
	}
	.post-title-border{
	
	border-bottom: 1px solid;
	padding: 0 10px 10px 10px;
	border-color: $green;
	}
}
.pagination{

	.active{
		.page-link{
		background-color: $green !important;
	}
}

	.page-link{
		color: $green;
	}
	.page-link:hover{
		font-weight:bold;
	}
}

.sidebar{
	margin-bottom:10px;
	.list-group-item, .card { background-color: rgba(0, 0, 0, 0) !important;
			border:0;
	 }
	 .list-group-item{
	 	color: white !important;
	 	border-bottom: 1px dotted white;
	 }
	 .list-group-item:hover{
	 	background-color:white !important;
	 	color: $green !important;
	 	font-weight: bold;
	 }


}

footer{
	a{
		color: white !important;
	}
}

.fa-bars{
	color: $green !important;
	font-size: 2rem;
	vertical-align: middle;
	&:hover, &:focus{
		color: $orange !important;
	}
}

.socials{
	font-size: 0.9rem;
	a{
		text-decoration: none;
		padding: 0px !important;
	}
	
}
.icon-facebook {
   color:#3b5998;
   & .fa-stack-1x {
	    color:white;
	}
	&:hover{
		color:#fff;
		& .fa-stack-1x {
		    color:#3b5998;
		}
	}
}
.icon-twitter {
    color:#00aced;
    & .fa-stack-1x {
	    color:white;
	}
	&:hover{
		color:#fff;
	    & .fa-stack-1x {
		    color:#00aced;
		}
	}
}
.icon-youtube {
    color:white;
    & .fa-stack-1x {
	    color:red;
	}
	&:hover{
		color:red;
	    & .fa-stack-1x {
		    color:#fff;
		}
	}
}
.icon-instagram {
    color:#fff;
    & .fa-stack-1x {
	    color:#000;
	}
	&:hover{
		color:#000;
	    & .fa-stack-1x {
		    color:#fff;
		}
	}
}

.icon-googleplus {
    color:#f00;
    & .fa-stack-1x {
	    color:#Fff;
	}
	&:hover{
		color:#fff;
	    & .fa-stack-1x {
		    color:#f00;
		}
	}
}

.icon-reddit {
    color:#F50;
    & .fa-stack-1x {
	    color:#Fff;
	}
	&:hover{
		color:#fff;
	    & .fa-stack-1x {
		    color:#f50;
		}
	}
}

.icon-linkedin {
    color:#05F;
    & .fa-stack-1x {
	    color:#Fff;
	}
	&:hover{
		color:#fff;
	    & .fa-stack-1x {
		    color:#05F;
		}
	}
}

.icon-mail {
    color:#000;
    & .fa-stack-1x {
	    color:#Fff;
	}
	&:hover{
		color:#fff;
	    & .fa-stack-1x {
		    color:#000;
		}
	}
}

.comments{
	border-right:0; 
	border-left:0;
	border-top:0;
}

#commentBox{
	.btn-primary{
		background: $green !important;
		&:hover,&:focus{
			background: gray !important;
		}
	}
	input:focus, textarea:focus{
		border-color:$green;
	}
}


@media screen and (max-width: 991px) {
	body {
	  	font-size: 0.8rem;
	  }
	.socials {
		font-size: 0.7rem;
	}
  .container {
    width: 100%;
    max-width: none;
  }
}

